*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: Inter;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0A0C1B;
  color:white;
}
.card{
  width: 600px;
  display: flex;
  

}


.card-data{
  width: 100%;
  padding: 2em;
  background-color: #1C1938;
  border-radius:4px 0 0 4px;

}
.avatar{
  width: 100%;
  padding: 2em;
  background-color: #AC5EDD;
  border-radius: 0 4px 4px 0;
  background-image: url(./images/card_back.jpg);
  background-size:cover;
  background-repeat: no-repeat;

  background-blend-mode: multiply;
  
}
.stats{
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  padding: 0.4rem;
}

#header{
  font-size:2em;
  padding:0.4rem;
  font-weight:400;
  /* #A156D0 */
}
#content{
  font-size: 0.5em;
  padding: 0.4rem;
  font-weight: 400;
  font-family: Lexend;
  
}
.stats h5{
  font-size: 0.75em;
  font-weight: 400;
  font-family: Lexend;
}
#header , #content, .stats{
  margin-bottom: 0.4rem;
}